<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ecp_project.carriere_eung.foodeqc">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo_foodeqc"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.AddNewItemActivity">

        </activity>
        <activity android:name=".Activity.AddNewRepasActivity">

        </activity>
        <activity android:name=".Activity.AddNewRepasTypeActivity">

        </activity>
        <activity android:name=".Activity.DisplayExistingItemActivity">

        </activity>
        <activity android:name=".DisplayItemComplete">

        </activity>
        <activity android:name=".Activity.ShowAllMealsActivity">

        </activity>
        <activity android:name=".Activity.AddNewItemTypeActivity">

        </activity>
        <activity android:name=".Activity.AddNewItemKnownActivity">

        </activity>

        <activity android:name=".Activity.StatisticsActivity">

        </activity>
        <activity android:name=".Activity.ManageItemActivity">

        </activity>

    </application>

</manifest>